body {
    background-color: #FFFFF0;
}

div#scalespeed {
    margin:auto;
    min-width: 240px;
    font: 14px verdana;
    padding-bottom:2em;
}

div#footer {
    text-align: center;
    font-size: 90%;
} 

h4 {
    font-weight: normal;
    color: #2F4F4F;
    text-align: center;
    margin:.5em auto 1em auto;
}

p {
    margin: 1em auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin:.5em auto .5em auto;
}

table {
    margin:auto;
}

#tableResults td {
    padding:.5em;
    border-bottom: 1px solid black;
    text-align: center;
}

#tableResults th {font-weight: normal;
    color: #2F4F4F;
}

#footer p {
        background-color:white;
}

a {
   color: #2F4F4F;
   text-decoration: none;
}

#control {
   width:100%;
   padding:1em;
   color: #fff;
   background-color:green;
   border:0;
}

#cancelControl {
    width:75%;
    padding:.5em;
    color: #fff;
    background-color: maroon;
    border:0;
}

.controlButton {
    background-color:#ff9933;
    color: #fff;
    border:0;
}

#control:hover, #cancelControl:hover, .controlButton:hover  {
    color:#000;
}

.note {
    font-size: 90%;
    max-width: 300px;
    display:block;
    margin: auto;
}

@media screen and (min-width:960px){
    div#scalespeed {
        max-width: 960px;
        
    }
    div#resultsDiv {
        float:right;
        width:50%;
    }
    
    div#runInfo {
        float: left;
        width:50%;
    }
    
    div#footer {
        clear:both;
    }
    
    td {
    min-width:150px;
}
}

@media screen and (max-width:480px){
    #detailedRunInfo {
        display:none;
    }
}

@media screen and (min-width:481px) {
    #basicRunInfo {
    display:none;
}
}